<form action="/survey/new" method="POST">
  <h3> Creating Survey </h3>
  <input type="text" name="title" placeholder = "Title">
  <br>
  <input type="text" name="topic" placeholder = "Topic">
  <br>
  <input type="submit" value="Generate">
</form>
