<h1><%=@cur_survey.title%></h1>
<ol>
  <%@questions.each do |question| %>
    <dt><li><%=question.description%></li><br>
          <%@choices.each do |choice|%>
            <% if choice.question_id == question.id %>
        <form name="submit" id="submit" action="/response/new" method="POST">
          <input type="radio" name="response" value= "Choice" ><%=choice.option%>
          <br>
        <%end%>
      <%end%>
    </dt>
  </form>
  <%end%>
</ol>


