<h1><%=@cur_survey.title%></h1>
<ol>
  <%@cur_survey.questions.each do |q| %>
    <dt><li><%=q.description%></li><br>
      <%q.choices.each do |choice|%>
        <dd>Choice<%=choice.option%>  votes:<%=choice.responses.count%></dd><br>
      <%end%>
    </dt>
  <%end%>
</ol>
