<h2>Sign Up</h2><br>
<form action="/signup" method="POST">
  <label>Username:</label>
  <input type="text" name="user[email]"><br>
  Password:
  <input type="password" name="user[password]"><br>
  Re-Password:
  <input type="password" name="user[password_confirmation]"><br>
  <input type="submit">
</form>
