body {
    font-family: Helvetica;
}

header {
  height: 35px;
  border: 2px solid black;
}

#left {
  margin-top: 1;
  float: left;
  list-style-type: none;
}

#right {
  margin-top: 1;
  float: right;
  list-style-type: none;
}

li#navbar {
  display:inline;
}

#content {
    margin-top: 50px;
}

#votes{
  color: orange;
  display: inline;
}

#question{
  font-weight: bold;
}
#terminate {
  color: white;
  background-color: red;
  display: inline;
}
td{
  padding: 5px;
}
