body {
    font-family: Helvetica;
}

header {
  height: 35px;
  border: 2px solid black;
}

#container{
  width: 75%;
  margin: auto;
}

.survey-list{
  height: 400px;
  width: 45%;
  float: left;
  border: solid black 1px;
  overflow: scroll;
}

#create-survey{
  width: 45%;
  border: solid black 1px;
  height: 400px;
  float: right;
  margin-bottom: 20px;
}

#mission-statement{
  border: solid black 1px;
  clear: both;
}

#left {
  margin-top: 1;
  float: left;
  list-style-type: none;
}

.create_params{
  padding-bottom: 20px;
}

#right {
  margin-top: 1;
  float: right;
  list-style-type: none;
}

li#navbar {
  display:inline;
}

#content {
    margin-top: 50px;
}

#votes{
  color: orange;
  display: inline;
}

#question{
  font-weight: bold;
}
#terminate {
  color: white;
  background-color: red;
  display: inline;
}
td{
  padding: 5px;
}

.survey{
  padding-bottom: 5%;
}
