<h6> Survey Questions </h6>
<form action="/new/:id" method= 'post'>
  <input type="Create Survey" name= "description" placeholder ="description">
  <br>
  <input type = "submit" value = "Create Survey" >
</form>

