<div id="container">
  <div class="survey-list">
    <h2>Hot Surveys:</h2>
    <ol>
      <% @surveys.each do |survey| %>
        <dt><li class="survey"><a href='/survey/<%= survey.id %>'><%= survey.title %></a><dd>Created: <%=time(survey)%> minutes ago</dd></li></dt>

      <%end%>
    </ol>
  </div>
  <div id="create-survey">
    <h2>Create Survey</h2>
    <%if session[:user_id]%>
      <button onclick="location.href='/survey/new'">New Survey</button>
    <%else%>
      <button onclick="location.href='/signup'">New Survey</button>
    <%end%>
    <ul>
      <li class="create_params">Create custom questions</li>
      <li class="create_params">Collect statistics from thousands of users</li>
      <li class="create_params">Display data statistics in a multitude of graphs</li>
      <li class="create_params">Receive a custom url for your survey</li>
      <li class="create_params">Impress your boss</li>
      <li class="create_params">Be somebody important</li>
    </ul>
  </div>

  <div id="mission-statement">
    <h2 style="text-align: center;">Mission Statement</h2>
    <p>Lorem ksjlkagk jdsklghslkhglkshgkl ajsklgjlskj sglk;ajgksljgkdlghklsagkhsklghals;hkdhgklshkl ghkshklghsklhglsglksglkahskghkglkgls</p>
  </div>
</div>
