<div>
  <div class="survey-list">
    <ol>
      <% @surveys.each do |survey| %>
        <li><a href='/survey/<%= survey.id %>'><%= survey.title %></a></li>
      <%end%>
    </ol>
  </div>
  <div>
    <h2>Create Survey</h2>
    <%if session[:user_id]%>
      <button onclick="location.href='/survey/new'">New Survey</button>
    <%else%>
      <button onclick="location.href='/signup'">New Survey</button>
    <%end%>
    <ul>
      <li>Create custom questions</li>
      <li>Collect statistics from thousands of users</li>
      <li>Display data statistics in a multitude of graphs</li>
      <li>Receive a custom url for your survey</li>
    </ul>
  </div>

  <div>
    <h2>Mission Statement</h2>
    <p>Lorem ksjlkagk jdsklghslkhglkshgkl ajsklgjlskj sglk;ajgksljgkdlghklsagkhsklghals;hkdhgklshkl ghkshklghsklhglsglksglkahskghkglkgls</p>
  </div>
</div>
