<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <ul id="left">

      <% if current_user %>
        <li id="navbar"><a href="/user/<%=current_user.id%>">Home Page</a></li>
        <li id="navbar"> | <a href="/survey/new">Create Survey</a></li>
      <%else%>
        <li id="navbar"><a href="/">Home Page</a></li>
      <% end %>
    </ul>
    <ul id="right">
      <% if current_user %>
        <li id="navbar">User:<%=current_user.email%></li> |
        <li id="navbar"><a href="/logout">Logout</a></li>
      <% else %>
        <li id="navbar"><a href="/login">Login</a></li> |
        <li id="navbar"><a href="/signup">Sign up</a></li>
      <% end %>
    </ul>
  </header>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>


